.widgetwrapper {
  border: 1px solid #DDD;
  border-radius: 0.25em;
  padding: 0.3em;
  width: 500px;
  margin-bottom: 0.5em;
  -moz-box-shadow: 0px 0px 2px 2px #DDD;
  -webkit-box-shadow: 0px 0px 2px 2px #DDD;
  box-shadow: 0px 0px 2px 2px #DDD;
}

.widgetwrapper > * {
  width: 100%;
  text-align: center;
}

.widgetwrapper .title {
  border-radius: 0.15em;
  border: none;
  background: #00a500; /* Old browsers */
  background: -moz-linear-gradient(top, #00a500 0%, #008900 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a500), color-stop(100%,#008900)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00a500 0%,#008900 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00a500 0%,#008900 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00a500 0%,#008900 100%); /* IE10+ */
  background: linear-gradient(top, #00a500 0%,#008900 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a500', endColorstr='#008900',GradientType=0 ); /* IE6-9 */
  color: #fff;
  font-family: sans-serif;
  padding: 0.2em 0;
}